/* ============================================================

EndPlay GO (for IE8 and down)
Version: 2.0
URL: http://www.endplay.com
(DO NOT REMOVE MODIFY/OVERWRITE THIS FILE)

============================================================ */
/* ==============================
BASE
( 480 and up )
============================== */
/* ==============================
BASE
( 600 and up )
============================== */
/* = RESPONSIVE DISPLAY HELPERS = */
.ui-small-screen {
  display: none !important; }

.ui-small-screen.and-up,
.ui-large-screen.and-down,
.ui-larger-screen.and-down,
.ui-largest-screen.and-down,
.ui-medium-screen {
  display: inherit !important; }

th.ui-small-screen.and-up,
th.ui-large-screen.and-down,
th.ui-larger-screen.and-down,
th.ui-largest-screen.and-down,
th.ui-medium-screen,
td.ui-small-screen.and-up,
td.ui-large-screen.and-down,
td.ui-larger-screen.and-down,
td.ui-largest-screen.and-down,
td.ui-medium-screen {
  display: table-cell !important; }

/* = MODULES = */
/* LISTS */
ul.list.columns.four li,
ul.list.columns.eight li {
  width: 22%; }

ul.list.columns.five li {
  width: 18%;
  margin: 0 1% 20px; }

ul.list.columns.six li {
  width: 30.333333%; }

/* CAROUSEL */
.mod-carousel.multi .slide {
  width: 50%; }

.mod-carousel .three .slide {
  width: 33.333333%; }

.mod-carousel.multi .slide {
  margin-bottom: 0; }

.mod-carousel .four .slide {
  width: 25%; }

.mod-carousel .five .slide {
  width: 20%; }

.mod-carousel .six .slide,
.mod-carousel .seven .slide,
.mod-carousel .eight .slide {
  width: 33.333333%;
  margin-bottom: 10px; }

.mod-carousel .eight .slide {
  width: 25%; }

/* SHOWCASE */
.mod-showcase .showcase-carousel li h3 {
  font-size: 0.9em; }

/* VIDEO */
.mod-video .playlist {
  display: block !important;
  overflow: auto !important;
  max-height: 100%; }

.mod-video .playlist ul {
  width: 9999em; }

.mod-video .playlist li {
  float: left;
  width: 180px;
  margin: 0 14px 0 0; }

.mod-video .playlist li .thumbnail {
  float: none;
  width: 100%;
  margin: 0 0 6px; }

.mod-video .trigger-playlist {
  display: none; }

/* ==============================
LAYOUT & GRID
( 768 and up )
============================== */
/* "SHRINKING" COLUMNS (DEFAULT) */
[class*="col-"] {
  margin-left: 1.61291%;
  float: left; }

.col-1 {
  width: 6.85483%; }

.col-2 {
  width: 15.32258%; }

.col-3 {
  width: 23.79032%; }

.col-4 {
  width: 32.25806%; }

.col-5 {
  width: 40.7258%; }

.col-6 {
  width: 49.19354%; }

.col-7 {
  width: 57.66129%; }

.col-8 {
  width: 66.12903%; }

.col-9 {
  width: 74.59677%; }

.col-10 {
  width: 83.06451%; }

.col-11 {
  width: 91.53225%; }

.col-12 {
  width: 100%; }

.col-12,
.row [class*="col-"]:first-child,
.row.no-margin > [class*="col-"],
.row [class*="pull-"].large {
  margin-left: 0; }

/* COLUMNS WITHOUT MARGIN */
.row.no-margin > .col-1 {
  width: 8.33333333333%; }

.row.no-margin > .col-2 {
  width: 16.6666666667%; }

.row.no-margin > .col-3 {
  width: 25%; }

.row.no-margin > .col-4 {
  width: 33.3333333333%; }

.row.no-margin > .col-5 {
  width: 41.6666666667%; }

.row.no-margin > .col-6 {
  width: 50%; }

.row.no-margin > .col-7 {
  width: 58.3333333333%; }

.row.no-margin > .col-8 {
  width: 66.6666666667%; }

.row.no-margin > .col-9 {
  width: 75%; }

.row.no-margin > .col-10 {
  width: 83.3333333333%; }

.row.no-margin > .col-11 {
  width: 91.6666666667%; }

/* "WRAPPING" COLUMNS AND PORTLETS */
[class*="col-"].wrap-full,
[class*="col-"].wrap-col,
[class*="col-"].wrap-portlets,
.row.no-margin [class*="col-"].wrap-full,
.row.no-margin [class*="col-"].wrap-col,
.row.no-margin [class*="col-"].wrap-portlets {
  width: 100%;
  margin: 0;
  float: none; }

[class*="col-"].wrap-col [class*="col-"],
[class*="col-"].wrap-portlets .portlet-boundary {
  float: left;
  width: 48%;
  margin-right: 1%;
  margin-left: 1%; }

/* OFFSETS */
.offset-1 {
  margin-left: 10.08065%; }

.offset-2 {
  margin-left: 18.5484%; }

.offset-3 {
  margin-left: 27.01614%; }

.offset-4 {
  margin-left: 35.48388%; }

.offset-5 {
  margin-left: 43.95162%; }

.offset-6 {
  margin-left: 52.41936%; }

.offset-7 {
  margin-left: 60.88711%; }

.offset-8 {
  margin-left: 69.35485%; }

.offset-9 {
  margin-left: 77.82259%; }

.offset-10 {
  margin-left: 86.29033%; }

.offset-11 {
  margin-left: 94.75807%; }

.row .offset-1:first-child {
  margin-left: 8.46774%; }

.row .offset-2:first-child {
  margin-left: 16.93549%; }

.row .offset-3:first-child {
  margin-left: 25.40323%; }

.row .offset-4:first-child {
  margin-left: 33.87097%; }

.row .offset-5:first-child {
  margin-left: 42.33871%; }

.row .offset-6:first-child {
  margin-left: 50.80645%; }

.row .offset-7:first-child {
  margin-left: 59.2742%; }

.row .offset-8:first-child {
  margin-left: 67.74194%; }

.row .offset-9:first-child {
  margin-left: 76.20968%; }

.row .offset-10:first-child {
  margin-left: 84.67742%; }

.row .offset-11:first-child {
  margin-left: 93.14516%; }

/* SOURCE ORDERING */
.push-1.large {
  left: 8.46774%; }

.push-2.large {
  left: 16.93549%; }

.push-3.large {
  left: 25.40323%; }

.push-4.large {
  left: 33.87097%; }

.push-5.large {
  left: 42.33871%; }

.push-6.large {
  left: 50.80645%; }

.push-7.large {
  left: 59.2742%; }

.push-8.large {
  left: 67.74194%; }

.push-9.large {
  left: 76.20968%; }

.push-10.large {
  left: 84.67742%; }

.push-11.large {
  left: 93.14516%; }

.pull-1.large {
  right: 6.85483%; }

.pull-2.large {
  right: 15.32258%; }

.pull-3.large {
  right: 23.79032%; }

.pull-4.large {
  right: 32.25806%; }

.pull-5.large {
  right: 40.7258%; }

.pull-6.large {
  right: 49.19354%; }

.pull-7.large {
  right: 57.66129%; }

.pull-8.large {
  right: 66.12903%; }

.pull-9.large {
  right: 74.59677%; }

.pull-10.large {
  right: 83.06451%; }

.pull-11.large {
  right: 91.53225%; }

/* ==============================
BASE
( 768 and up )
============================== */
/* = RESPONSIVE DISPLAY HELPERS = */
.ui-medium-screen,
.ui-medium-screen.and-down {
  display: none !important; }

.ui-small-screen.and-up,
.ui-medium-screen.and-up,
.ui-larger-screen.and-down,
.ui-largest-screen.and-down,
.ui-large-screen {
  display: inherit !important; }

th.ui-small-screen.and-up,
th.ui-medium-screen.and-up,
th.ui-larger-screen.and-down,
th.ui-largest-screen.and-down,
th.ui-large-screen,
td.ui-small-screen.and-up,
td.ui-medium-screen.and-up,
td.ui-larger-screen.and-down,
td.ui-largest-screen.and-down,
td.ui-large-screen {
  display: table-cell !important; }

/* TABLES */
.table h1, .table h2, .table h3, .table h4, .table h5, .table h6 {
  display: block; }

/* RESPONSIVE TABLES */
table.responsive {
  margin-bottom: 20px; }

table.responsive td,
table.responsive th {
  white-space: normal; }

table.responsive th:first-child,
table.responsive td:first-child,
table.responsive td:first-child,
table.responsive.pinned td {
  display: table-cell; }

/* = UI = */
/* TOP NAV */
.nav-bar {
  border: 1px solid #ddd;
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(white, #dddddd);
  background-image: linear-gradient(white, #dddddd); }

.nav-bar .title-area,
.nav-bar.dark .title-area {
  float: left;
  border: 0;
  background: none; }

.nav-bar .toggle-menu {
  display: none !important; }

.nav-bar .nav,
.nav-bar.dark .nav {
  border: 0;
  background: transparent;
  display: block !important; }

.nav-bar .nav.right {
  float: right; }

.nav-bar .nav > li {
  float: left; }

.nav-bar .nav > li.active > a {
  background: #ddd; }

.nav-bar.bevels .nav > li > a {
  border: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.nav-bar.bevels .nav > li > a:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%; }

.nav-bar.bevels .nav > li:first-child > a:after {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  left: -2px; }

.nav-bar.bevels .nav > li:last-child > a:after {
  border-right: 1px solid #fff;
  right: -2px; }

/* nav bar dark skin */
.nav-bar.dark {
  border-color: #111;
  background-color: #222222;
  background-image: -webkit-linear-gradient(#444444, #111111);
  background-image: linear-gradient(#444444, #111111); }

.nav-bar.dark .nav > li.active > a {
  background: #222; }

.nav-bar.dark.bevels .nav > li > a {
  border-left-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(0, 0, 0, 0.4); }

.nav-bar.dark.bevels .nav > li:first-child > a:after {
  border-left-color: rgba(0, 0, 0, 0.4); }

.nav-bar.dark.bevels .nav > li:last-child > a:after {
  border-right-color: rgba(255, 255, 255, 0.1); }

/* = MODULES = */
/* LISTS */
ul.list.columns.six li {
  width: 14.65%;
  margin: 0 1% 20px; }

ul.list.columns.eight li {
  width: 11.5%;
  margin: 0 0.5% 20px; }

/* CAROUSEL */
.mod-carousel .six .slide,
.mod-carousel .seven .slide,
.mod-carousel .eight .slide {
  margin-bottom: 0; }

.mod-carousel .six .slide {
  width: 16.666667%; }

.mod-carousel .seven .slide {
  width: 14.285714%; }

.mod-carousel .eight .slide {
  width: 12.5%; }

/* SHOWCASE */
.mod-showcase .title h1 {
  font-size: 2.5em;
  white-space: nowrap; }

.mod-showcase .links li {
  float: left; }

.mod-showcase .links li a {
  padding: 10px 12px;
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333; }

.mod-showcase .links li:last-child a:after {
  content: "";
  border-left: 1px solid #333;
  width: 1px;
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  background: none; }

.mod-showcase .showcase-carousel li:last-child,
.mod-showcase .showcase-stories li.showcase-story:last-child {
  display: block; }

/* VIDEO */
.mod-video .playlist {
  border-top: 0;
  border-left: 1px solid #ddd; }

.mod-video .playlist ul {
  width: auto; }

.mod-video .playlist li {
  float: none;
  width: auto;
  margin: 0; }

.mod-video.go-big [class*="col-"].now-playing,
.mod-video.go-big [class*="col-"].playlist {
  width: 100% !important;
  height: auto !important;
  float: none; }

.mod-video.go-big .playlist {
  border-left: 0;
  border-top: 1px solid #ddd; }

.mod-video.go-big .playlist ul {
  width: 9999em; }

.mod-video.go-big .playlist li {
  float: left;
  width: 180px;
  margin: 0 14px 0 0; }

.mod-video.go-big .playlist li .thumbnail {
  float: none;
  width: 100%;
  margin: 0 0 6px; }

.mod-video .player-actions .trigger-go-big {
  display: block; }

body.dark .mod-video .playlist,
.mod-video.skin-dark .playlist {
  border-color: #000; }

/* ==============================
LAYOUT & GRID
( 992 and up )
============================== */
body.non-fluid .container,
.row-container {
  max-width: 990px; }

/* RESET WRAPPED COLUMNS */
[class*="col-"].wrap-col [class*="col-"],
[class*="col-"].wrap-portlets .portlet-boundary {
  float: none;
  width: auto;
  margin-right: 0;
  margin-left: 0; }

[class*="col-"].wrap-full,
[class*="col-"].wrap-col,
[class*="col-"].wrap-portlets,
[class*="col-"],
[class*="col-"].wrap-col [class*="col-"] {
  width: auto;
  margin-left: 1.61291%;
  float: left; }

.row.no-margin [class*="col-"].wrap-full,
.row.no-margin [class*="col-"].wrap-col,
.row.no-margin [class*="col-"].wrap-portlets {
  width: auto;
  float: left; }

.col-1 {
  width: 6.85483% !important; }

.col-2 {
  width: 15.32258% !important; }

.col-3 {
  width: 23.79032% !important; }

.col-4 {
  width: 32.25806% !important; }

.col-5 {
  width: 40.7258% !important; }

.col-6 {
  width: 49.19354% !important; }

.col-7 {
  width: 57.66129% !important; }

.col-8 {
  width: 66.12903% !important; }

.col-9 {
  width: 74.59677% !important; }

.col-10 {
  width: 83.06451% !important; }

.col-11 {
  width: 91.53225% !important; }

.col-12 {
  width: 100% !important; }

.col-12,
.row [class*="col-"]:first-child,
.row.no-margin > [class*="col-"],
.row [class*="pull-"] {
  margin-left: 0 !important; }

/* COLUMNS WITHOUT MARGIN */
.row.no-margin > .col-1 {
  width: 8.33333333333% !important; }

.row.no-margin > .col-2 {
  width: 16.6666666667% !important; }

.row.no-margin > .col-3 {
  width: 25% !important; }

.row.no-margin > .col-4 {
  width: 33.3333333333% !important; }

.row.no-margin > .col-5 {
  width: 41.6666666667% !important; }

.row.no-margin > .col-6 {
  width: 50% !important; }

.row.no-margin > .col-7 {
  width: 58.3333333333% !important; }

.row.no-margin > .col-8 {
  width: 66.6666666667% !important; }

.row.no-margin > .col-9 {
  width: 75% !important; }

.row.no-margin > .col-10 {
  width: 83.3333333333% !important; }

.row.no-margin > .col-11 {
  width: 91.6666666667% !important; }

/* OFFSETS */
.offset-1 {
  margin-left: 10.08065% !important; }

.row .offset-1:first-child {
  margin-left: 8.46774% !important; }

.offset-2 {
  margin-left: 18.5484% !important; }

.row .offset-2:first-child {
  margin-left: 16.93549% !important; }

.offset-3 {
  margin-left: 27.01614% !important; }

.row .offset-3:first-child {
  margin-left: 25.40323% !important; }

.offset-4 {
  margin-left: 35.48388% !important; }

.row .offset-4:first-child {
  margin-left: 33.87097% !important; }

.offset-5 {
  margin-left: 43.95162% !important; }

.row .offset-5:first-child {
  margin-left: 42.33871% !important; }

.offset-6 {
  margin-left: 52.41936% !important; }

.row .offset-6:first-child {
  margin-left: 50.80645% !important; }

.offset-7 {
  margin-left: 60.88711% !important; }

.row .offset-7:first-child {
  margin-left: 59.2742% !important; }

.offset-8 {
  margin-left: 69.35485% !important; }

.row .offset-8:first-child {
  margin-left: 67.74194% !important; }

.offset-9 {
  margin-left: 77.82259% !important; }

.row .offset-9:first-child {
  margin-left: 76.20968% !important; }

.offset-10 {
  margin-left: 86.29033% !important; }

.row .offset-10:first-child {
  margin-left: 84.67742% !important; }

.offset-11 {
  margin-left: 94.75807% !important; }

.row .offset-11:first-child {
  margin-left: 93.14516% !important; }

/* SOURCE ORDERING */
.push-1 {
  left: 8.46774% !important; }

.push-2 {
  left: 16.93549% !important; }

.push-3 {
  left: 25.40323% !important; }

.push-4 {
  left: 33.87097% !important; }

.push-5 {
  left: 42.33871% !important; }

.push-6 {
  left: 50.80645% !important; }

.push-7 {
  left: 59.2742% !important; }

.push-8 {
  left: 67.74194% !important; }

.push-9 {
  left: 76.20968% !important; }

.push-10 {
  left: 84.67742% !important; }

.push-11 {
  left: 93.14516% !important; }

.pull-1 {
  right: 6.85483% !important; }

.pull-2 {
  right: 15.32258% !important; }

.pull-3 {
  right: 23.79032% !important; }

.pull-4 {
  right: 32.25806% !important; }

.pull-5 {
  right: 40.7258% !important; }

.pull-6 {
  right: 49.19354% !important; }

.pull-7 {
  right: 57.66129% !important; }

.pull-8 {
  right: 66.12903% !important; }

.pull-9 {
  right: 74.59677% !important; }

.pull-10 {
  right: 83.06451% !important; }

.pull-11 {
  right: 91.53225% !important; }

/* ==============================
BASE
( 992 and up )
============================== */
/* = RESPONSIVE DISPLAY HELPERS = */
.ui-large-screen,
.ui-medium-screen.and-down,
.ui-large-screen.and-down {
  display: none !important; }

.ui-small-screen.and-up,
.ui-medium-screen.and-up,
.ui-large-screen.and-up,
.ui-largest-screen.and-down,
.ui-larger-screen {
  display: inherit !important; }

th.ui-small-screen.and-up,
th.ui-medium-screen.and-up,
th.ui-large-screen.and-up,
th.ui-largest-screen.and-down,
th.ui-larger-screen,
td.ui-small-screen.and-up,
td.ui-medium-screen.and-up,
td.ui-large-screen.and-up,
td.ui-largest-screen.and-down,
td.ui-larger-screen {
  display: table-cell !important; }

/* = MODULES = */
/* SHOWCASE */
.mod-showcase .showcase-scroller {
  width: 2400px; }

.mod-showcase .showcase-story {
  width: 600px; }

.lt-ie9 .mod-showcase .showcase-main,
.ie8 .mod-showcase .showcase-main {
  height: 495px; }

/* VIDEO */
.mod-video [class*="col-"].now-playing,
.mod-video [class*="col-"].playlist {
  width: 100% !important;
  float: none; }

.col-12 .mod-video [class*="col-"].now-playing,
.col-12 .mod-video [class*="col-"].playlist {
  width: 66.6666666667% !important;
  float: left; }

.col-12 .mod-video [class*="col-"].playlist {
  width: 33.3333333333% !important; }

.mod-video [class*="col-"].now-playing,
.mod-video [class*="col-"].playlist,
.mod-video.go-big [class*="col-"].now-playing,
.mod-video.go-big [class*="col-"].playlist {
  width: 100% !important;
  height: auto;
  float: none; }

.col-8 .mod-video [class*="col-"].playlist,
.mod-video.go-big [class*="col-"].playlist {
  height: auto !important; }

.mod-video .playlist ul,
.col-12 .mod-video.go-big .playlist ul {
  width: 9999em; }

.mod-video .playlist li,
.col-12 .mod-video.go-big .playlist li {
  float: left;
  width: 180px;
  margin: 0 14px 0 0; }

.mod-video .playlist li .thumbnail
.col-12 .mod-video.go-big .playlist li .thumbnail {
  float: none;
  width: 100%;
  margin: 0 0 6px; }

.col-12 .mod-video .playlist ul {
  width: auto; }

.col-12 .mod-video .playlist li {
  float: none;
  width: 100%;
  margin: 0; }

.col-12 .mod-video .playlist li .thumbnail {
  float: left;
  width: 37%;
  margin: 0 3% 0 0; }

.col-12 .mod-video.go-big .playlist li .thumbnail {
  float: none;
  width: 100%;
  margin: 0 0 6px; }

.mod-video .player-actions .trigger-go-big {
  display: none; }

.col-12 .mod-video .player-actions .trigger-go-big {
  display: block; }

/*.match-player-height { overflow: auto; border-bottom: 4px solid #333; }
body.dark .match-player-height { border-color: #000; }*/
